.input {
  $b: &;
  position: relative;
  margin-bottom: rem(10);

  &--error#{$b}__field {
    border-color: $color-red;
  }
  &--focused#{$b}__field {
    // border-color: $color-black;
  }
  &--filled#{$b}__field {
    // border-color: $color-gray;
  }

  &__input {
    width: 100%;
    padding: rem(12);
  }
  &__field {
    width: 100%;
    outline: none;
    border: 1px $color-black solid;
    border-radius: rem(10);
    padding: rem(15);
    background-color: $color-white;
    @include p-card;

    &::placeholder {
      position: absolute;
      top: rem(20);
      left: rem(29);
    }
  }
  &__label {
    position: absolute;
    top: rem(-32);
    left: 0;
    color: $color-black;
    padding: 0 rem(4);
    @include media-breakpoint-up(lg) {
      top: rem(-25);
      left: 0;
    }
  }

  &__error-message {
    margin-top: rem(4);
  }

  &--black {
    #{$b}__field {
      background-color: $color-black-alternative;
    }
    #{$b}__label {
      color: $color-white;
    }
    #{$b}__input {
      color: $color-white;
      caret-color: $color-white;

      // &::placeholder {
      //   color: rgba($color-white, 0.6);
      // }
    }
  }
}
