.contact-us {
  &__container {
    @include media-breakpoint-up(lg) {
      // display: flex;
      // justify-content: flex-start;
      // flex-direction: column;
    }
  }

  &__header {
    margin-bottom: rem(40);
    @include media-breakpoint-up(lg) {
      margin-bottom: rem(80);
    }
  }

  &__form {
    @include media-breakpoint-up(lg) {
      width: 49%;
    }
  }
  &__content {
    padding: rem(24);

    @include media-breakpoint-up(lg) {
      background-color: $color-gray;
      border-radius: rem(45);
      position: relative;

      // display: flex;
      // justify-content: flex-start;
      // gap: rem(210);
      padding: rem(60) rem(0) rem(80) rem(100);
    }
  }

  &__image {
    display: none;
    @include media-breakpoint-up(lg) {
      position: absolute;
      right: rem(-300);
      top: rem(66);

      display: block;
      width: rem(649);
      height: rem(648);
    }
  }
}
