.contact-us {
  &__container {
    @include media-breakpoint-up(lg) {
    }
  }

  &__header {
    margin-bottom: rem(44);
    @include media-breakpoint-up(lg) {
      margin-bottom: rem(80);
    }
  }

  &__form {
    @include media-breakpoint-up(lg) {
      width: 59.5%;
      padding-bottom: rem(80);
      margin-left: rem(30);
    }
  }
  &__content {
    @include media-breakpoint-up(lg) {
      background-color: $color-gray;
      border-radius: rem(45);
      position: relative;
    }
  }

  &__image {
    display: none;
    @include media-breakpoint-up(lg) {
      position: absolute;
      display: block;
      right: rem(-324);
      top: rem(66);

      width: rem(685);
      height: rem(648);
    }
  }
}
