.contact-us {
  &__container {
    @include media-breakpoint-up(lg) {
    }
  }

  &__header {
    margin-bottom: rem(40);
    @include media-breakpoint-up(lg) {
      margin-bottom: rem(80);
    }
  }

  &__form {
    @include media-breakpoint-up(lg) {
      width: 54%;
    }
  }
  &__content {
    @include media-breakpoint-up(lg) {
      background-color: $color-gray;
      border-radius: rem(45);
      position: relative;
    }
  }

  &__image {
    display: none;
    @include media-breakpoint-up(lg) {
      position: absolute;
      right: rem(-300);
      top: rem(66);

      display: block;
      width: rem(649);
      height: rem(648);
    }
  }
}
