.form-default {
  &__form {
    // width: 100%;
    @include media-breakpoint-up(lg) {
      // width: 50%;
      margin-left: rem(60);
    }
  }

  &__radio-group {
    display: flex;
    width: 100%;
    margin-bottom: rem(78);
    gap: rem(70);
    padding-left: rem(14);
    justify-content: flex-start;
    @include media-breakpoint-up(lg) {
      padding-left: 0;
      margin-bottom: rem(70);
      gap: rem(44);
    }
  }

  &__fields-group {
    display: flex;
    flex-direction: column;
    gap: rem(44);

    @include media-breakpoint-up(lg) {
      gap: rem(48);
      margin-bottom: rem(30);
    }
  }
  &__fields {
    background-color: $color-gray;
    border-radius: rem(45);
    padding: rem(40) rem(40);
    margin-bottom: rem(70);
    @include media-breakpoint-up(lg) {
      background-color: initial;
      border-radius: initial;
      margin-bottom: initial;
    }
  }

  &__button {
    transition: background-color 0.3s;

    &:hover {
      background-color: $color-gray;
    }
  }
}
