.list-features {
  &__cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: rem(30);
    @include media-breakpoint-up(md) {
      flex-direction: row;
      flex-wrap: wrap;
      gap: rem(40) rem(40);

      & > * {
        width: calc(50% - 0.75rem);
      }
    }
  }

  &__card {
    @include media-breakpoint-up(md) {
      width: calc(50% - rem(30));
    }
  }
}
