.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  &__arrow--prev,
  &__arrow--next {
    position: static;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: rem(24);
    height: rem(24);

    .navigation__icon {
      width: 100%;
      height: 100%;
      fill: $color-neon-green;
      transition: fill 0.3s;

      &:hover {
        fill: $color-white;
      }
    }
  }

  &__bullets {
    display: flex;
    gap: rem(20);
    justify-content: center;
    width: 100%;
  }

  .custom-bullet {
    border: 1px solid $color-neon-green;
    width: rem(12);
    height: rem(12);
    background-color: $color-neon-green;
    border-radius: 50%;
    cursor: pointer;

    &.swiper-pagination-bullet-active {
      background-color: $color-white;
      transform: scale(1.2);
      transition: background-color 0.3s, transform 0.3s;
    }
  }
}
