$grid-breakpoints: (
  sm: 430px,
  md: 920px,
  lg: 1024px,
);

@mixin media-breakpoint-up($name, $breakpoints: $grid-breakpoints) {
  $min: map-get($breakpoints, $name);
  @if $min {
    @media (min-width: $min) {
      @content;
    }
  }
}
