.textarea {
  $b: &;

  width: 100%;
  margin-bottom: rem(10);
  height: rem(140);
  resize: vertical;
  @include p;
  @include media-breakpoint-up(lg) {
    height: rem(190);
  }
  &__wrapper {
    position: relative;
  }

  &__input {
    width: 100%;
    @include p-card;
    padding: rem(20);
    border-radius: rem(10);
    background-color: $color-white;
    color: $color-black;
    border: 1px solid $color-black;
    outline: none;
    resize: vertical;
    @include defaultTransition(border-color);

    &::placeholder {
      position: absolute;
      top: rem(20);
      left: rem(29);
    }

    @include media-breakpoint-up(lg) {
      height: rem(192);
    }
  }

  &__label {
    position: absolute;
    top: rem(-32);
    left: 0;
    color: $color-black;
    padding: 0 rem(4);

    @include media-breakpoint-up(lg) {
      top: rem(-25);
      left: 0;
    }
  }

  &__error-message {
    color: $color-red;
    margin-top: rem(4);
    height: rem(24);
    padding-left: rem(8);
    display: flex;
    align-items: center;
  }

  &--error {
    #{$b}__input {
      border-color: $color-red;
    }

    #{$b}__label {
      color: $color-red;

      &:after {
        display: block;
        content: '';
        width: rem(6);
        height: rem(6);
        background: $color-red;
        position: absolute;
        right: rem(-16);
        top: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        opacity: 0.2;
      }
    }
  }

  &--focused {
    #{$b}__input {
      border-color: $color-black;
    }
  }

  &--filled {
    #{$b}__label {
      top: rem(-10);
      left: rem(8);

      color: $color-gray;
    }
  }
}
