.button {
  cursor: pointer;
  @include buttonReset;
  @include text-header;
  border: 1px $color-black solid;
  border-radius: rem(16);
  padding: rem(20) rem(35);
  white-space: nowrap;

  &--white {
    background-color: $color-white;
    color: $color-black;
    @include media-breakpoint-up(md) {
      // @include hover {
      //   background-color: $color-black;
      //   color: $color-white;
      //   @include defaultTransition(background-color);
      // }
      &:hover {
        background-color: red !important; // Цвет для проверки
        color: blue !important; // Цвет для проверки
      }
    }
  }
}
