.hero {
  &__container {
    @include media-breakpoint-up(md) {
      display: flex;
      gap: rem(108);
    }
  }
  &__left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: rem(35);
  }
  &__right {
    display: none;
    @include media-breakpoint-up(md) {
      display: block;
      flex: 1;
    }
  }

  &__title {
    @include h1;
  }
  &__text {
    @include text-header;
  }
  &__mobile-image {
    @include media-breakpoint-up(md) {
      display: none;
    }
  }
}
