.hero {
  border: 1px solid #e93333;
  &__container {
    @include media-breakpoint-up(md) {
      display: flex;
      gap: rem(108);
    }
  }
  &__left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: rem(35);
    padding-bottom: rem(64);
  }
  &__right {
    display: none;
    @include media-breakpoint-up(md) {
      display: block;
      flex: 1;
    }
  }

  &__title {
    @include h1;
  }
  &__text {
    @include text-header;
  }
  &__mobile-image {
    border: 1px solid #d63434;
    @include media-breakpoint-up(md) {
      display: none;
    }
  }
  &__image img {
    border: 1px solid #27aa44;
    width: rem(361);
    height: rem(310);
    @include media-breakpoint-up(md) {
      width: rem(600);
      height: rem(515);
    }
  }
  &__button-container {
    width: 100%;
    @include media-breakpoint-up(md) {
      width: 50%;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
