.hero {
  &__container {
    @include media-breakpoint-up(md) {
      display: flex;
      gap: rem(108);
    }
  }
  &__left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    padding-bottom: rem(64);
  }
  &__right {
    display: none;
    @include media-breakpoint-up(md) {
      display: block;
      flex: 1;
    }
  }

  &__title {
    @include h1;
    @include media-breakpoint-up(md) {
      margin-bottom: rem(35);
    }
  }
  &__text {
    @include text-header;
    margin-bottom: rem(54);
    @include media-breakpoint-up(md) {
      margin-bottom: rem(35);
    }
  }
  &__mobile-image {
    @include media-breakpoint-up(md) {
      display: none;
    }
  }
  &__image img {
    width: 100%;
    @include media-breakpoint-up(md) {
      width: rem(600);
      height: rem(515);
    }
  }
  &__button-container {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    @include media-breakpoint-up(md) {
      width: 50%;
    }
  }
}
