@import 'swiper/css/bundle';

.slider-logos {
  height: 70px;

  $root: &;
  &__container {
  }
  &__swiper {
    margin-left: rem(-8);
    margin-right: rem(-8);

    @include media-breakpoint-only(md) {
      margin-left: rem(-18);
      margin-right: rem(-18);
    }
  }

  &__wrapper {
    @include media-breakpoint-only(md) {
      max-width: calc(100% - #{rem(18)});
      width: 100%;
    }
  }

  &__slide {
    max-width: 100%;
    padding: 0 rem(8);
    height: auto;

    @include media-breakpoint-up(lg) {
      max-width: calc(100% / 12 * 2);
    }
    @include media-breakpoint-only(md) {
      max-width: calc(100% / 8 * 4);
      padding: 0 rem(18);
    }

    .card-icon {
      height: 100%;
    }
  }

  &__card {
    // $delay: calc(0.4s + var(--item-index) * 0.1s);
    // @include fadeInChild($delay);
  }

  &__nav {
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin-top: rem(32);
    // @include fadeIn(0.5s);

    @include media-breakpoint-only(md) {
      margin-top: rem(24);
    }
    @include media-breakpoint-down(md) {
      height: rem(8);
    }
  }

  &__pagination {
    justify-content: center;

    @include media-breakpoint-up(lg) {
      display: none;
    }
    @include media-breakpoint-only(md) {
      justify-content: flex-end;
    }
  }

  &__nav-arrows {
    @include media-breakpoint-down(md) {
      display: none;
    }
  }
}
