@import 'swiper/css/bundle';

.slider-cases {
  $root: &;

  &__header {
    margin-bottom: rem(40);
    @include media-breakpoint-up(md) {
      margin-bottom: rem(80);
    }
  }

  &__swiper {
    // padding: rem(42) rem(50);
    @include media-breakpoint-only(md) {
      background-color: $color-black;
      border-radius: 40px;
      padding: rem(70) rem(60) rem(70) rem(60);
    }
  }

  &__wrapper {
    // background-color: $color-black;
    @include media-breakpoint-only(md) {
      max-width: calc(100% - #{rem(18)});
      width: 100%;
    }
  }

  &__slide {
    max-width: 100%;
    background-color: $color-black;
    border-radius: 40px;
    margin-right: rem(25);
    width: rem(370);
    @include media-breakpoint-up(md) {
      width: calc((100% / 3) - 18px);

      &:not(:last-child) {
        border-right: 1px $color-white solid;
        margin-right: rem(55);
      }
    }
  }

  &__card {
    // $delay: calc(0.4s + var(--item-index) * 0.1s);
    // @include fadeInChild($delay);
  }

  &__pagination {
    position: relative;
    margin-top: rem(32);
    display: flex;
    justify-content: center;

    @include media-breakpoint-up(md) {
      display: none;
    }
  }
}
