.header {
  @include text-header;
  min-width: rem(360);

  @include media-breakpoint-up(md) {
    padding-top: rem(62);
    height: rem(68);
  }

  &__container {
    padding-top: rem(24);
    display: flex;
    justify-content: space-between;
  }

  &__nav-icon-container {
    padding-top: rem(10);
    display: flex;
    cursor: pointer;

    @include defaultTransition;

    @include media-breakpoint-up(md) {
      display: none;
    }
  }

  &__nav-icon {
    display: flex;
    align-items: center;

    img {
      @include defaultTransition;
      width: rem(30);
      height: rem(30);
    }

    // &.open img {
    //   @include defaultTransition;
    // }
  }

  &__nav-desktop {
    @include media-breakpoint-up(md) {
      display: flex;
      justify-content: space-between;
      width: 75%;
    }
  }

  &__button {
    display: none;
    @include media-breakpoint-up(md) {
      display: block;
      align-self: self-end;
    }
  }

  &__nav-desktop-list {
    display: none;
    @include media-breakpoint-up(md) {
      width: 100%;
      padding-right: rem(40);
      padding-top: rem(18);
      display: flex;
      justify-content: space-between;
      width: 72%;
    }
  }

  &__nav-desktop-list li {
    gap: rem(30);

    a {
      text-decoration: none;
      color: inherit;
    }
  }

  &__nav-mobile {
    @include defaultTransition;
    position: absolute;
    top: rem(68);
    right: rem(24);
    background-color: $color-white;
    width: 40%;
    text-align: right;

    a {
      text-decoration: none;
      color: inherit;
    }

    @include media-breakpoint-up(md) {
      display: none;
    }
  }

  &__nav-mobile li {
    padding-top: rem(15);
  }

  &__logo {
    @include media-breakpoint-up(md) {
      width: rem(219);
      padding-right: rem(206);
    }
  }

  &__logo img {
    width: rem(170);
  }
}
