.list-team {
  &__cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: rem(30);
    @include media-breakpoint-up(lg) {
      flex-direction: row;
      flex-wrap: wrap;
      gap: rem(40) rem(40);
    }
  }
  &__header {
    margin-bottom: rem(40);
    @include media-breakpoint-up(lg) {
      margin-bottom: rem(80);
    }
  }
  &__card {
    @include media-breakpoint-up(lg) {
      width: calc((100% / 3) - 30px);
    }
  }
}
