.action {
  $b: &;

  &__wrapper {
    @include media-breakpoint-up(md) {
      display: flex;
      justify-content: flex-start;
      gap: rem(15);
    }
  }
  &__text {
    display: none;
    @include text-header;
    @include media-breakpoint-up(md) {
      display: block;
      margin-top: rem(4);
    }
  }
  a {
    @include link-reset;
  }
  &__icon {
    width: rem(41);
    height: rem(41);
  }

  &--white {
    #{$b}__text {
      color: $color-white;
    }
  }
  &--neon-green {
    #{$b}__text {
      color: $color-neon-green;
    }
  }
  &--icon-right {
    #{$b}__wrapper {
      display: flex;
      justify-content: flex-end;
      flex-direction: row-reverse;
      gap: rem(15);
    }
    #{$b}__text {
      @include text-regular;
      display: block;
    }
    #{$b}__icon {
      width: rem(22);
      height: rem(22);
      @include media-breakpoint-up(md) {
        width: rem(41);
        height: rem(41);
      }
    }
  }
}
