.action {
  $b: &;
  &__wrapper {
    @include media-breakpoint-up(md) {
      display: flex;
      justify-content: flex-start;
      gap: rem(15);
    }
  }
  &__text {
    display: none;
    @include media-breakpoint-up(md) {
      display: block;
      @include text-header;
      margin-top: rem(4);
    }
  }
  a {
    @include link-reset;
  }
  &__icon {
    width: rem(41);
    height: rem(41);
  }

  &--white {
    #{$b}__text {
      color: $color-white;
    }
  }
}
