.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include media-breakpoint-up(lg) {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  &__title {
    @include h2;
    @include highlighted;
    width: auto;
    display: inline-block;

    align-self: center;
    margin-bottom: rem(30);
    @include media-breakpoint-up(lg) {
      margin-bottom: 0;
      margin-right: rem(40);
    }
  }

  &__text {
    @include p;
    text-align: center;
    @include media-breakpoint-up(lg) {
      text-align: left;
      width: 50%;
      align-self: flex-start;
      margin-top: rem(8);
    }
  }
}
